.universal-form__shell {
	padding: 30px 40px;
	z-index: 1;
	position: relative;
	max-width: 400px;
}

.universal-form__title {
	color: #004E7E;
	font-family: "Kelson Sans RU";
	font-size: 1.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: 39px;
	margin-bottom: 17px;
}

.universal-form__description {
	color: #000;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 32px;
}

.universal-form__block-field {
	display: flex;
	gap: 28px;
	flex-direction: column;
}

.universal-form__name-field,
.universal-form__field-captcha {
	/*display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-end;
	gap: 6px;*/
	position: relative;
}

.universal-form__name-field>input,
.universal-form__field-captcha>input {
	color: #000;
	font-size: 18px;
	line-height: normal;
	border-bottom: 1px solid #ACB6D2;
	width: 100%;
	position: relative;
	border-radius: 10px;
	border: 1px solid rgba(0, 103, 162, 0.3);
	padding: 19px;
	background-color: transparent;
}

.universal-form__name-field>.form-error-field {
	border-color: #E83838;
}

.universal-form__name-field>input:active,
.universal-form__name-field>input:focus,
.universal-form__name-field>input:focus-within {
	border-color: #004E7E;
	color: #000000;
}

.universal-form__name-field.universal-form__field-not-empty>input {
	color: #000000;
}

.universal-form__name-field>.form-error {
	color: #E83838;
	font-size: 0.875rem;
	line-height: 16px;
}

.universal-form__field-submit>input {
	display: flex;
	padding: 10px 30px 8px;
	gap: 10px;
	background-color: #E85231;
	color: #FFF;
	font-weight: 700;
	line-height: 24px;
	font-size: 13px;
	border: none;
	cursor: pointer;
	transition: 0.2s ease-out;
	border-radius: 4px;
	width: 100%;
	text-transform: uppercase;
}

.universal-form__field-submit>input:hover {
	background-color: #dd7c66;
}

.universal-form__agreement {
	max-width: 388px;
	color: #000;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
}

.universal-form__agreement>a {
	color: #004E7E;
	font-weight: 500;
	line-height: 24px;
}

/*.universal-form__message {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4ae976e8;
	max-width: 400px;
	max-height: 200px;
	margin: auto;
	border-radius: 35px;
	color: #fff;
	font-size: 2rem;
	padding: 30px;
}*/

.universal-form__agreement>a {
	color: #004E7E;
}

.universal-form__name-field>.universal-form__text-name {
	position: absolute;
	left: 0px;
	color: #ACB6D2;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	padding: 20px;
	margin: 0;
	line-height: normal;
}

.universal-form__name-field>input::placeholder {
	font-size: 0;
}

.universal-form__field-captcha>input::placeholder {
	color: #ACB6D2;
}

.universal-form__name-field.universal-form__field-not-empty>.universal-form__text-name {
	opacity: 0;
	visibility: hidden;
}

.universal-form__required {
	color: #A61028;
}

.universal-form__field-submit {
	margin-top: 13px;
}

.universal-form__field-captcha>img {
	margin: auto;
}

#form-result {
	padding: 48px;
	border-radius: 20px;
	border: 1px solid #EBEDF1;
	background: #FFF;
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
	width: 512px;
}

.form-result__icon-block {
	padding: 25px;
	border-radius: 100px;
	background-color: #FFEBE7;
	margin-bottom: 37px;
}

.form-result__shell {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*gap: 40px;*/
	font-family: "Gotham Pro";
}

.form-result__information-block {
	display: flex;
	flex-direction: column;
	gap: 22px;
	align-items: center;
}

.form-result__title {
	color: #111827;
	font-size: 32px;
	font-weight: 500;
	line-height: 40px;
	text-align: center;
}

.form-result__decription {
	color: #5A616C;
	font-size: 18px;
	font-style: normal;
	line-height: 24px;
}

.form-result__button {
	border-radius: 4px;
	background-color: #E85231;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	color: #FFF;
	font-size: 18px;
	transition: .2s ease-out;
	padding: 15px 0 17px;
	margin-top: 41px;
}

.form-result__button:hover {
	background-color: #d1725d;
}

#form-result .popup-window-close-icon {
	right: 15px;
	top: 10px;
}

#form-result .popup-window-close-icon:after {
	width: 17px;
	height: 17px;
}

.catalog-basket__products.catalog-basket__empty {
	border: 1px solid #E83838;
	border-radius: 6px 0px 0px 6px;
}

.universal-form__result_false .universal-form__message {
	color: #db0000;
	margin-bottom: 10px;
}

.universal-form__result_false > .universal-form__shell {
	border: 1px solid #db0000;
	border-radius: 5px;
}

.universal-form__result_success > .universal-form__shell {
	border: 1px solid #00ab00;
	border-radius: 5px;
}

/* TODO (min-width:1201px) */
@media (min-width:1201px) {}

/* TODO (max-width:1200px) */
@media (max-width:1200px) {}

/* TODO (min-width:992px) and (max-width:1200px) */
@media (min-width:992px) and (max-width:1200px) {}

/* TODO (min-width:992px) */
@media (min-width:992px) {}

/* TODO (max-width:991px) */
@media (max-width:991px) {}

/* TODO (min-width:768px) and (max-width:991px) */
@media (min-width:768px) and (max-width:991px) {}

/* TODO (min-width:768px) */
@media (min-width:768px) {}

/* TODO (max-width:767px) */
@media (max-width:767px) {}

/* TODO (min-width:576px) and (max-width:767px) */
@media (min-width:576px) and (max-width:767px) {}

/* TODO (min-width:576px) */
@media (min-width:576px) {}

/* TODO (max-width:575px) */
@media (max-width:575px) {}

/* TODO (max-width:500px) */
@media (max-width:500px) {
	.universal-form {
		border-radius: 12px;
	}

	.universal-form__shell {
		padding: 21px 20px 24px;
	}

	.universal-form__title {
		font-size: 1.75rem;
		line-height: 36px;
		margin-bottom: 15px;
	}

	.universal-form__description {
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 24px;
	}

	.universal-form__block-field {
		flex-direction: column;
		gap: 12px;
		margin-bottom: 18px;
	}

	.universal-form__name-field>input {
		border-radius: 10px;
		height: 48px;
		font-size: 1rem;
		line-height: 22px;
		padding: 0 14px;
	}

	.universal-form__field-submit>input {
		height: 48px;
		width: 100%;
		font-size: 1rem;
		font-weight: 400;
		line-height: 22px;
		border-radius: 10px;
	}

	.universal-form__agreement {
		font-size: 14px;
		line-height: 20px;
	}

	.universal-form__agreement>.privacy {
		line-height: 20px;
	}
}
